@font-face {
  font-family: "basic-font";
  src: url("../fonts/Delius-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "header-font";
  src: url("../fonts/Gelasio-basic.ttf");
  font-weight: normal;
}

body {
    background-color: #eee;
    font-family: "basic-font", Arial, sans-serif;
}

header {
    font-family: "header-font", Arial, sans-serif;
}

main div{
    border: 1px solid #000;
    padding: 5px;
    margin: 5px;
    text-align: center;
    background-color: #aaa;
}
main div div {
    margin: 0px;
    border: 0px;
    display: flex;
    flex-direction: row;
}
main div div div{
    margin: 5px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    flex-grow: 1;
}
main div div div div{
    background-color: #eee;
    display: flex;
    flex-direction: row;
}