@font-face {
  font-family: "pixel-font";
  src: url("../fonts/Doto-pixel.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "basic-font";
  src: url("../fonts/Starshines.ttf");
  font-weight: normal;
}

body {
    background-color: #abcabc;
    margin-left: 64px;
    margin-right: 64px;
    font-family: "basic-font", Arial, sans-serif;
}
section {
    border: 2px solid #9ab9ab;
    background-color: #bcdbcd;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "pixel-font", Arial, sans-serif;
}

h1 {
    color: #ff0000;
    font-size: 60px;
}
h2 {
    color: #00ff00;
    font-size: 48px;
}
h3 {
    color: #0000ff;
    font-size: 32px;
}
h4 {
    color: #ffff00;
    font-size: 18px;
}
h5 {
    color: #00ffff;
}
h6 {
    color: #ff00ff;
}

a {
    color: #fa9907;
}
a:hover {
    color: #ffbb33;
}
a:visited {
    color: #808080;
}

button {
    background-color: #fa9907;
    color: #ffffff;
}
button:hover {
    background-color: #ffbb33;
}

form input:hover, textarea:hover, select:hover{
    background-color: #ffffaa;
}

li {
    font-style: normal;
}
li:last-child {
    font-style: italic !important;
}