@font-face {
  font-family: "pixel-font";
  src: url("../fonts/Doto-pixel.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "basic-font";
  src: url("../fonts/Starshines.ttf");
  font-weight: normal;
}

@media screen and (min-width: 640px) {
    #main_nav ul {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    body {
        margin-left: 64px;
        margin-right: 64px;
    }

    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 48px;
    }
    h3 {
        font-size: 32px;
    }
    h4 {
        font-size: 18px;
    }
}
@media screen and (max-width: 640px) {
    #main_nav ul {
        display: flex;
        flex-direction: column;
        pad: 1em;
    }

    body {
        margin-left: 16px;
        margin-right: 16px;
    }

    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 18px;
    }
}

#main_nav ul {
    list-style-type: none;
}

body {
    background-image: url("../media/backgroundimg.png");
    background-size: 100% auto;
    background-repeat: repeat;
    background-color: #abcabc;
    
    font-family: "basic-font", Arial, sans-serif;
}
section {
    border: 2px solid #9ab9ab;
    background-color: #bcdbcd;
}
.portfolio {
    background-image: url("../media/portfoliobc.png");
    background-size: 67px 67px;
    background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "pixel-font", Arial, sans-serif;
}

h1 {
    color: #ff0000;
}
h2 {
    color: #00ff00;
}
h3 {
    color: #0000ff;
}
h4 {
    color: #ffff00;
}
h5 {
    color: #00ffff;
}
h6 {
    color: #ff00ff;
}

a {
    color: #fa9907;
}
a:hover {
    color: #ffbb33;
}
a:visited {
    color: #808080;
}

button {
    background-color: #fa9907;
    color: #ffffff;
}
button:hover {
    background-color: #ffbb33;
}

form input:hover, textarea:hover, select:hover{
    background-color: #ffffaa;
}

li {
    font-style: normal;
}
li:last-child {
    font-style: italic !important;
}