@font-face {
  font-family: "pixel-font";
  src: url("../fonts/Doto-pixel.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "basic-font";
  src: url("../fonts/Gelasio-basic.ttf");
  font-weight: normal;
}

body {
    background-color: #ccc;
    margin: 20px;
    font-family: "basic-font", Arial, sans-serif;
}
section {
    border: 1px solid #bbb;
    padding: 15px;
    margin: 5px;
    background-color: #ddd;
}
div {
    margin-left: 3%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "basic-font", Arial, sans-serif;
}

h1 {
    background-color: #ddd; 
    color: #000000;
    font-size: 32px;
}
h2 {
    background-color: #000000;
    color: #ffffff;
    width: fit-content;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    font-size: 24px;
}
h3 {
    background-color: #555555;
    color: #ffffff;
    width: fit-content;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    font-size: 18px;
}
h4 {
    font-size: 14px;
}
p {
    margin-left: 3%;
}