body {
    background-color: #ccc;
    margin: 20px;
}
section {
    border: 1px solid #bbb;
    padding: 15px;
    margin: 5px;
    background-color: #ddd;
}
div {
    margin-left: 3%;
}

h1 {
    background-color: #ddd; 
    color: #000000;
    font-size: 32px;
}
h2 {
    background-color: #000000;
    color: #ffffff;
    width: fit-content;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    font-size: 24px;
}
h3 {
    background-color: #555555;
    color: #ffffff;
    width: fit-content;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    font-size: 18px;
}
h4 {
    font-size: 14px;
}
p {
    margin-left: 3%;
}