@font-face {
  font-family: "basic-font";
  src: url("../fonts/Delius-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "header-font";
  src: url("../fonts/Gelasio-basic.ttf");
  font-weight: normal;
}

body {
    background-color: #eee;
    font-family: "basic-font", Arial, sans-serif;
}

header {
    font-family: "header-font", Arial, sans-serif;
}

table {
    background-color: #FFF; 
    width: 200px; 
    height: 200px;
    border-collapse: collapse;
}
tr {
    width: 200px;
    height: 20px;
}
td {
    border: 0px solid #FFF;
}

.jl{
    border-left: 3px solid #000;
}
.jr{
    border-right: 3px solid #000;
}
.jd{
    border-bottom: 3px solid #000;
}

.ul{
    border-top: 3px solid #000; 
    border-left: 3px solid #000;
}
.rl{
    border-right: 3px solid #000;
    border-left: 3px solid #000;
}
.dl{
    border-bottom: 3px solid #000; 
    border-left: 3px solid #000;
}
.dr{
    border-bottom: 3px solid #000; 
    border-right: 3px solid #000;
}

.drl{
    border-right: 3px solid #000; 
    border-left: 3px solid #000; 
    border-bottom: 3px solid #000;
}